{% extends 'base.html' %}

{% block css %}
  <style type="text/css">
    .form-control {
      border: 1px solid green;
      padding: 2px 8px;
      height: 40px;
      font-size: 25px
    }

    #nse-image {
      height: 50px;
    }
  </style>
{% endblock css %}

{% block container %}
<div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-md-6 col-md-offset-3">
        <br>
        <hr>
        <center>
          <img src="https://www.nseindia.com/global/resources/images/NSE_reverse@4x-100.jpg" class="img img-responsive img-rounded" id='nse-image'>
        </center>
        <h3>NseInvestEase 5Login</h3>
        <hr>
        
        <div class="alert alert-success alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Welcome!</strong> Login to <b>Corporate FD</b> and other MF platforms
        </div>

        <form action="#" onsubmit="return login(event)">
          {% csrf_token %}
          <div class="form-group">
            <label for="arn_code">ARN CODE:</label>
            <input type="text" class="form-control" id="arn_code" placeholder="Enter ARN CODE" name="name" value="ARN-20709">
          </div>
          
          <div class="form-group">
            <label for="appln_id">APPLN ID:</label>
            <input type="appln_id" class="form-control" id="appln_id" placeholder="Enter Appln Id" name="appln_id" value="TEST854">
          </div> 
         
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" value="test$147">
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
          </div>
          <button type="submit" class="btn btn-success btn-block">Submit</button>
        </form>  
      </div>

    </div>
    <hr>
      <!--     
        <div class="row">
            {% for login in login_urls %}
            <div class="col-md-2 col-xs-12 text-center">
              <a href="{{request.scheme}}://{{login.domain_url}}.{{request.get_host}}/">
                <img src="{{login.pic_url}}" class="img img-responsive">
              </a>
            </div>
            {% endfor %}
        </div> 
    -->
</div>
{% endblock %}

{% block js_body %}
  <script type="text/javascript">
    function register(event) {
        event.preventDefault();

        let password = $("#password").val()
        let arn_code = $("#arn_code").val()
        let appln_id = $("#appln_id").val()
        let csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()
        console.log(password, arn_code, appln_id);
        alert(csrfmiddlewaretoken)

        $.ajax({
           type: "POST",
           url: location.pathname,
           headers: {
              "Content-Type": "application/json",
              "X-CSRFtoken": csrfmiddlewaretoken
           },
           crossDomain: true,
           dataType: "json",
           data: JSON.stringify({
            arn_code,
            password,
            appln_id
           }),
           success: (response, textStatus, jQxhr) => {
              console.log(response, textStatus, jQxhr)
              alert("success");
              if(response.status == 200) {
                let data = response.data;

                url = `${data.scheme}://${data.tenant}.${data.domain}.${data.extension}`;

                if(data.port) {
                  url += `:${data.port}`;
                }  else {
                  alert('Bad happened')
                  return
                }




                console.log("Redirect to Url => " + url);
                location.href = url + '/dashboard';
                console.log("OK");
              } else {
                alert("got");
              }
           },
           error: (jQxhr, textStatus, errorThrown) => {
              console.log("Error", jQxhr, textStatus, errorThrown);
              alert('' + errorThrown);
           }
        })

        return true;
    } 
  </script>
{% endblock %}


