{% extends 'base.html' %}

{% block css %}
  <style type="text/css">
    .form-control {
      border: 1px solid green;
      padding: 2px 8px;
      height: 40px;
      font-size: 25px
    }

    #nse-image {
      height: 60px;
    }

    .form-control:hover {
        border-color: blue;
    }
  </style>
{% endblock css %}

{% block container %}
<div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-md-6 col-md-offset-3">
        <br>
        <hr>
        <center>
          <img src="https://www.nseindia.com/global/resources/images/NSE_reverse@4x-100.jpg" class="img img-responsive img-rounded" id='nse-image'>
        </center>
        <h3>Register on NseInvestEase</h3>
        <hr>
        
        <div class="alert alert-info alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Welcome!</strong> Register a tenant and invest on <b>MF platforms</b>
        </div>

        <form action="#" onsubmit="return register(event)">
          {% csrf_token %}
          <div class="form-group">
            <label for="tenant_name">TENANT NAME:</label>
            <input type="text" class="form-control" id="tenant_name" placeholder="Enter Tenant name" name="name" value="cfd" data-toggle='tooltip' title='TENANT NAME'>
          </div>

          <div class="form-group">
            <label for="email">EMAIL:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email id" name="name" value="cfd@gmail.com" data-toggle='tooltip' title='EMAIL'>
          </div>
          
          <div class="form-group">
            <label for="contact">CONTACT:</label>
            <input type="tel" class="form-control" id="contact" placeholder="Enter 10 digits contact number" name="contact" value="7975797484" data-toggle='tooltip' title='CONTACT' maxlength="10">
          </div> 
         
          <div class="form-group">
            <label for="password">PASSWORD:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" value="test$147" data-toggle='tooltip' title='PASSWORD'>
          </div>

<!--           <div class="checkbox">
            <label><input type="checkbox" name="remember" data-toggle='tooltip' title='Remember me'> Remember me</label>
          </div> -->
          <button type="submit" class="btn btn-success btn-block" data-toggle='tooltip' title='Login to MF'>Register</button>
        </form>  
      </div>

    </div>
    <hr>
      <!--     
        <div class="row">
            {% for login in login_urls %}
            <div class="col-md-2 col-xs-12 text-center">
              <a href="{{request.scheme}}://{{login.domain_url}}.{{request.get_host}}/">
                <img src="{{login.pic_url}}" class="img img-responsive">
              </a>
            </div>
            {% endfor %}
        </div> 
    -->
</div>
{% endblock %}

{% block js_body %}
  <script type="text/javascript">
    function register(event) {
        // alert('ok')
        event.preventDefault();

        let password = $("#password").val()
        let email = $("#email").val()
        let contact = $("#contact").val()
        let tenant_name = $('#tenant_name').val()

        let csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()
        console.log(password, email, contact, tenant_name);
        // alert(csrfmiddlewaretoken)

        $.ajax({
           type: "POST",
           url: location.pathname,
           headers: {
              "Content-Type": "application/json",
              "X-CSRFtoken": csrfmiddlewaretoken
           },
           crossDomain: true,
           dataType: "json",
           data: JSON.stringify({
            email,
            password,
            tenant_name,
            contact
           }),
           success: (response, textStatus, jQxhr) => {
              console.log(response, textStatus, jQxhr)
              // alert("success");
              if(response.status == 200) {
                let data = response.data;

                // url = `${data.scheme}://${data.tenant}.${data.domain}.${data.extension}`;

                // if(data.port) {
                //   url += `:${data.port}`;
                // }  else {
                //   alert('Bad happened')
                //   return
                // }


                swal({
                  icon: 'success',
                  title: "Success!!!",
                  text: 'Click OK to login or CANCEL to stay',
                  buttons: true
                })
                .then((okay) => {
                    if(okay) {
                        url = '/'
                        console.log("Redirect to Url => ", url);
                        location.href = url
                        console.log("OK");
                    } else {
                      location.reload()
                    }
                })
              } else {
                swal({
                    'icon': 'warning',
                    'title': 'Sorry!!!',
                    'text': response.message
                })
              }
           },
           error: (jQxhr, textStatus, errorThrown) => {
              console.log("Error", jQxhr, textStatus, errorThrown);
                swal({
                    'icon': 'warning',
                    'title': 'Sorry!!!',
                    'text': 'Something bad happened, ' + errorThrown
                })
           }
        })

        return true;
    } 
  </script>

{% endblock %}


